spring.application.name=core

server.port=8082

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.default_schema=
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true