POSTGRES_DB=smart_learning_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-database-password
POSTGRES_PORT=5433

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-this-minio-password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=smart-learning

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=ChangeThisAdminPassword123

FRONTEND_URL=http://localhost:5173
GATEWAY_PORT=8080