spring:
  application:
    name: gateway

  http:
    clients:
      connect-timeout: 3s
      read-timeout: 60s
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: system-auth-public
              uri: ${SYSTEM_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/api/v1/auth/login,/api/v1/auth/register
                - Method=POST

            - id: system-admin
              uri: ${SYSTEM_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/api/v1/admin/**

            - id: system-auth-protected
              uri: ${SYSTEM_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/api/v1/auth/**

server:
  port: ${GATEWAY_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

app:
  cors:
    allowed-origins: ${FRONTEND_URL:http://localhost:5173}
